# The extra index is used with development where the bifrostlib is updated on TestPyPI and not PyPI
pytest
pytest-cov
pytest-profiling
coverage
pyyaml
pymongo
argh
# for auto monitoring
jsonschema>=4.18.0a1
watchdog
wget
# for sphinx
sphinx
m2r2
sphinx-autoapi
sphinx-rtd-theme
# for version handling
bumpversion
